<%= render 'layouts/medico_header', locals: { message: "Sign Up" } %>

<div class="container">
  <div class="row justify-content-center"> 
    <div class="devise__form col-xm-12 col-sm-8 col-md-6">
      <%= form_for(resource, as: resource_name, html: {class: 'text-center'}, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>

        <div class="devise__form--sharedLinks">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


