<%= render 'layouts/medico_header', locals: { message: "Log In" } %>

<div class="container">
  <div class="row justify-content-center"> 
    <div class="devise__form col-xm-12 col-sm-8 col-md-6">
      <%= form_for(resource, as: resource_name, html: {class: 'text-center'}, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.label :remember_me %>
            <%= f.check_box :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>

        <div class="devise__form--sharedLinks">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
